@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat:200,300,600');
body {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  width: 100%;
  height: 100vh;
  margin: 0;
}

#particles-js {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #0e385d; 
  background-image: url(&quot;&quot;); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: 50% 50%;
  z-index: -100;
}

h1.doof {
  font-family: Lato;
}


section{
  position: relative;
  height: 200px;
  padding: 3em;
  color: black;
}

i {
  border: solid black;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 15px;
  border-color: white;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.card {
    width: 33%;
}
.container {
    padding: 2px 16px;
}

.dark {
  background: #eee;
}

section#members, section#about {
  width: 100%;
  padding: 3rem 0 10rem;
  height: auto;
  margin: 0 auto;
  text-align: center;
  display: flow-root;
}

section#about div.main{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: flow-root;
}
<<<<<<< HEAD
section#members h1, section#about h1 {
=======
section#about div.main h1 {
>>>>>>> e0bddd446f8364d3618d344892097df97e0f24ee
  font-weight: 400;

}

<<<<<<< HEAD
section#members p, section#about p {
=======
section#about div.main p {
>>>>>>> e0bddd446f8364d3618d344892097df97e0f24ee
  font-family: Montserrat;
  font-weight: 300;
  font-size: 18px;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 1em;
  text-align: center;
}

#members img {
  width:30%; 
  height: auto;
  border-radius: 8px;
}

div.introducing {
  width: 100%;
  text-align: left;
}

div.introducing h1 {
  color: #3491d8;
  padding-left: 2rem;
}

div.introducing h1 span {
  font-family: Montserrat;
  color: #a9a9a9;
  font-weight: 400;
}

div.text h2 {
  text-align: center;
  font-weight: 100;
}

#intro {
    width: 100%;
  height: 100vh;
  position: relative;
  z-index: 9999;
  text-align: center;
  line-height: 20px;
}

.intro--inside{
  padding-top: 10em;
}
h1 {
  font-size: 4rem;
  letter-spacing: 0.0015em;
}

p {
  align-self: center;
  font-size: 11.5px;
  padding-bottom: 20px;
  font-family: Droid Serif;
}
.btn {
  display: inline-block;
  margin: 12px;
  padding: 20px 30px;
  border: 1px solid #fff;
  text-transform: uppercase;
  letter-spacing: 0.0015em;
  font-size: 12px;
  font-weight: 800;
  line-height: .5;
  color: #fff;
  border-radius: 15px;
  text-decoration: none;
  -webkit-transition: all 0.8s;
     -moz-transition: all 0.8s;
       -o-transition: all 0.8s;
          transition: all 0.8s;
}

footer {
  background: #0e385d;
  min-height: 3rem;
  color: #fff;
  font-weight: 300;
  padding: 2rem 0;
  line-height: 1.5rem;;
  text-align: center;
}

div.text {
  width: 70%;
  margin: 0 auto;
  text-align: left;
}
.btn:hover {
  color: #5CBDAA;
  border-color: #5CBDAA;
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 70px;
  }
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 48px;
  }
  h1::after {
    height: 8px;
  }
}

@media only screen and (max-width: 568px) {
  #intro {
    padding: 0 10px;
  }
  h1 {
    font-size: 30px;
  }
  h1::after {
    height: 6px;
  }
  h2{
    font-size: 15px;
  }
  p {
    font-size: 18px;
  }
  .btn {
    font-size: 16px;
  }
}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 28px;
  }
  h1::after {
    height: 4px;
  }
}
